
@{
    ViewBag.Title = "Add";
}

<h2>Add a New Pet</h2>

<form method="POST" action="/Pet/Add">

    <span>Name:</span><input id="PetName" type="text" name="PetName"/> 
    <span>Weight:</span><input id="PetWeight" type="text" name="PetWeight"/>
    <input type="submit" value="Add Pet">
</form>

