@model List<PetGrooming.Models.Pet>

@{
    ViewBag.Title = "List";
}

<h2>List of Pets</h2>

@{ 
    foreach(var Pet in Model)
    {
        <div>
            <span><a href="/Pet/Show/@Pet.PetID">@Pet.Name</a></span>
            <span>@Pet.Species</span>
            <span>@Pet.Weight</span>
        </div>
    }
}