@model  List<PetGrooming.Models.Species>
@{
    ViewBag.Title = "Add";
}

<h2>Add a New Pet</h2>
<div class="navbar">
    <a class="navlink" href="/Pet/List">Back to List</a>
</div>
<form method="POST" action="/Pet/Add">
    <!-- TODO: format this nicely -->
    <div class="inpfield"><span>Name:</span><input id="PetName" type="text" name="PetName" /></div>
    <div class="inpfield">
        <span>Species:</span>
        <select id="SpeciesID" type="text" name="SpeciesID">
            @{ 
                //A rendering loop for presenting a list of species
                //The pet should be one of these species
                foreach(var species in Model)
                {
                    <option value="@species.SpeciesID">@species.Name</option>

                }
            }
        </select>
    </div>
    <div class="inpfield"><span>Weight (kg):</span><input id="PetWeight" type="text" name="PetWeight" /></div>
    <div class="inpfield"><span>Color:</span><input id="PetColor" type="text" name="PetColor" /></div>
    <div class="inpfield">
        Notes:
        <textarea id="PetNotes" name="PetNotes">
        </textarea>
    </div>
    <div class="inpfield">
        <input type="submit" value="Add Pet">
    </div>
</form>
