@model PetGrooming.Models.Pet


@{
    ViewBag.Title = "Update";
}

<h2>Update</h2>
<form action="/Pet/Update/@Model.PetID" method="POST">
    <span>Pet Name</span><input type="text" value="@Model.PetName" id="PetName" name="PetName"/><br />
    <span>Pet Color</span><input type="text" value="@Model.Color" id="PetColor" name="PetColor"/><br />
    <span>Pet Weight</span><input type="text" value="@Model.Weight" id="PetWeight" name="PetWeight"/><br />
    <div>
        <span>Pet Notes</span>
        <textarea id="PetNotes" name="PetNotes">@Model.Notes</textarea>
    </div>
    <input type="submit" value="update pet" />
</form>