@model List<PetGrooming.Models.Species>


@{
    ViewBag.Title = "List";
}

<h2>List</h2>
<div class="navbar">
    <a href="/Species/Add">Add New</a>
</div>
<div class="tilecontainer">
    @{
        foreach (var species in @Model)
        {

            <div class="listitem">
                <a href="/Species/Show/@species.SpeciesID">@species.Name</a>
                <a class="cta" href="/Species/Update/@species.SpeciesID">Update</a>
            </div>
        }
    }
</div>