@model List<PetGrooming.Models.Species>


@{
    ViewBag.Title = "List";
}

<h2>List</h2>
<div class="navbar">
    <a href="/Species/Add">Add New</a>
</div>
<form method="GET" action="/Species/List">
    <input type="text" id="speciessearchkey" name="speciessearchkey" />
    <input type="submit" value="Search" />
</form>
<div class="tilecontainer">
    @{
        foreach (var species in @Model)
        {

            <div class="listitem">
                <a href="/Species/Show/@species.SpeciesID">@species.Name</a>
                <a class="cta" href="/Species/Update/@species.SpeciesID">Update</a>
            </div>
        }
    }
</div>